.headerContainer {
  display: flex;
  aspect-ratio: 1/1;
  height: 50px;
  width: 100%;
}

.icon {
  display: flex;
  width: 50px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  transition: transform .1s;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
}