.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar main main";
  grid-template-rows: min-content 1fr;
  grid-template-columns: auto 1fr 1fr;
  min-height: 100vh;
  margin: 0;
}

.header {
  grid-area: header;
  background-color: var(--header-background);
}

.navbar {
  grid-area: navbar;
  background-color: var(--navbar-background);
}

.main {
  grid-area: main;
  background-color: var(--main-background);
}